<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div id="heading">
  <h1>
      welcome  {{ title | uppercase }}!
  </h1>
</div>
  <h4>{{name}}hiiiii lakshmanickkam</h4>
  <h5>NUMBER ADDITION</h5>
  {{(num1+num2) | currency:'INR'}}
  <div id="heading1">
  <h2>current date</h2>
  {{displayDate()}}
  we are from family component
  shop:<a routerLink="/catalogue">catalogue</a>
  <a routerLink="/products">product</a>
  <a routerLink="/todo">task                                  </a>
  <a routerLink="/remote">remotecall</a>
  <router-outlet></router-outlet>
</div>
</div>

